Repository monero-project/monero-site: changes, and which lefthook commands are due for each by the changed paths.
All: lint, lint-css, format

lefthook.yml:

# Use example from https://lefthook.dev/
pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,ts,jsx,tsx,astro,mjs}"
      run: npx eslint --fix {staged_files}
      stage_fixed: true
    lint-css:
      glob: "*.{css,astro}"
      run: npx stylelint {staged_files}
      stage_fixed: true
    format:
      glob: "*.{js,ts,jsx,tsx,astro,json,md,css}"
      run: npx prettier --write {staged_files}
      stage_fixed: true

add what-is-monero themeable images
  src/assets/images/what-is-monero/privacy-dark.avif
  src/assets/images/what-is-monero/privacy-light.avif
  src/assets/images/what-is-monero/surveillance-dark.avif
  src/assets/images/what-is-monero/surveillance-light.avif
Due: none

css updates, integrate themeableImage in what-is-monero
  src/components/ui/ThemeableImage.astro
  src/pages/get-started/what-is-monero.astro
Due: lint, lint-css, format

add .asc file trigger and update QR file path in workflow
  .github/workflows/contributing-hashes.yml
Due: none

ci: bump action versions to latest
  .github/workflows/autoupdater.yml
  .github/workflows/ci.yml
  .github/workflows/contributing-hashes.yml
  .github/workflows/download-hashes.yml
Due: none

Add Haveno logo
  img/merchants/haveno.png
Due: none

Add Haveno translation keys
  _i18n/en.yml
Due: none

Add Haveno to P2P exchanges page
  community/merchants/index.md
Due: format

ci: add contributing.json.asc to contributing-hashes workflow
  .github/workflows/contributing-hashes.yml
Due: none

ci: add contributing.json.asc
  src/data/contributing/contributing.json.asc
Due: none

Add Monero One to Mobile & Light Wallets
  downloads/index.md
Due: format

Add Monero One logo
  img/monero-one.png
Due: none

downloads: update monfluo url
  src/data/downloads/community.ts
Due: lint, format

downloads: update monfluo url
  downloads/index.md
Due: format

ci download-hashes: pin torrent versions to cli
  .github/workflows/download-hashes.yml
Due: none

exit if CDN unavailable
  .github/workflows/download-hashes.yml
Due: none

ci: add pr previews workflow
  .github/workflows/comment_pr.yml
Due: none

i18n: add matrix info to the FAQ on the mining page
  src/i18n/translations/en/mining.json
  src/i18n/translations/zh/mining.json
Due: format

ci: add lychee link checking
  .github/workflows/check-links.yml
Due: none

test
  src/i18n/translations/zh/downloads.json
Due: format

check
  .github/workflows/check-links.yml
Due: none

test
  .github/workflows/check-links.yml
Due: none

fix
  .github/workflows/check-links.yml
Due: none

test new
  .github/workflows/check-links.yml
Due: none

test
  .github/config/lychee.toml
  .github/workflows/check-links.yml
Due: none

tools: fix monerowatch id & xmr.mx link
  src/data/resources/monero-tools.ts
  src/i18n/translations/ar/tools.json
  src/i18n/translations/en/tools.json
  src/i18n/translations/es/tools.json
  src/i18n/translations/nl/tools.json
  src/i18n/translations/zh/tools.json
Due: lint, format

tools: remove nownodes.io and getblock.io
  src/data/resources/monero-tools.ts
  src/i18n/translations/ar/tools.json
  src/i18n/translations/en/tools.json
  src/i18n/translations/es/tools.json
  src/i18n/translations/nl/tools.json
  src/i18n/translations/zh/tools.json
Due: lint, format

Added translation using Weblate (Russian)
  src/content/moneropedia/ru/clearnet.md
Due: format

workflow debugs
  .github/workflows/download-hashes.yml
Due: none

i18n: add matrix info to the FAQ on the mining page
  src/i18n/translations/en/mining.json
Due: format

hangouts: switch matrix from monero-mining to xmrmine
  src/data/community/hangouts.ts
Due: lint, format

ci: download-hashes update core downloads info on beta branch
  .github/workflows/download-hashes.yml
Due: none

optimize CI workflow and add prepare-build script
  .github/workflows/ci.yml
  Dockerfile
  README.md
  package.json
  scripts/prepare-build.ts
Due: lint, format

Remove legacy pre-Jekyll PHP files
  _includes/language_cookie.php
  language.php
Due: none

sitemap_generator: use File.exist? (removed in Ruby 3.2)
  _plugins/sitemap_generator.rb
Due: none
