Repository monero-project/monero-site: changes, and which lefthook commands are due for each by the changed paths.
All: lint, lint-css, format, moneropedia-translations

lint:
  run: npx eslint --fix {staged_files}
  stage_fixed: true

lint-css:
  run: npx stylelint {staged_files}
  stage_fixed: true

format:
  run: npx prettier --write {staged_files}
  stage_fixed: true

moneropedia-translations:
  run: pnpm run i18n:moneropedia:config && pnpm run i18n:moneropedia:update-po && git add src/i18n/moneropedia/
  stage_fixed: true

don't use define:vars for var() and px,rem possible values
  src/components/ui/Card.astro
  src/components/ui/Column.astro
  src/components/ui/Grid.astro
  src/components/ui/IconLink.astro
  src/components/ui/Row.astro
  src/components/ui/SidebarLayout.astro
Due: lint, lint-css, format

lefthook tidy
  lefthook.yml
Due: none

consistent blog page styles
  src/pages/blog/[...page].astro
  src/pages/blog/tags/[tag]/[...page].astro
Due: lint, lint-css, format

use classname
  src/components/ui/ExternalResourceButton.astro
Due: lint, lint-css, format

remove unused resources
  src/i18n/translations/en/faq.json
  src/pages/downloads/community.astro
  src/pages/get-started/exchanges.astro
  src/pages/get-started/merchants.astro
  src/pages/get-started/mining.astro
  src/pages/resources/library.astro
  src/pages/resources/moneropedia/index.astro
  src/pages/resources/press-kit.astro
  src/styles/global.css
Due: lint, lint-css, format

Translated using Weblate (Chinese (Simplified Han script)) (#127)
  src/i18n/translations/ar/faq.json
  src/i18n/translations/zh/faq.json
Due: format

Update wording in FCMP++ documentation for testing
  src/content/moneropedia/en/fcmp++.md
Due: format, moneropedia-translations

small patches
  src/components/ui/ExternalResourceButton.astro
  src/i18n/translations/en/index.json
  src/i18n/translations/en/tools.json
  src/pages/index.astro
Due: lint, lint-css, format

apply isolation: isolate
  src/components/ui/dropdown/Dropdown.astro
  src/components/ui/header/Header.astro
  src/components/ui/header/LanguageDropdown.astro
  src/styles/global.css
Due: lint, lint-css, format

revert to noscript overrride
  src/components/ui/dropdown/Dropdown.astro
  src/components/ui/header/Header.astro
  src/components/ui/header/LanguageDropdown.astro
  src/styles/global.css
Due: lint, lint-css, format

deprecate sass in favor of native nesting
  package.json
  pnpm-lock.yaml
  src/components/pages/blog/BlogContent.astro
  src/components/pages/blog/BlogHeader.astro
  src/components/ui/tabs/PageTabs.astro
  src/components/ui/tabs/SectionTabs.astro
Due: lint, lint-css, format

Revert "deprecate sass in favor of native nesting"
  package.json
  pnpm-lock.yaml
  src/components/pages/blog/BlogContent.astro
  src/components/pages/blog/BlogHeader.astro
  src/components/ui/tabs/PageTabs.astro
  src/components/ui/tabs/SectionTabs.astro
Due: lint, lint-css, format

dont use scss where no scss features needed
  src/components/pages/blog/BlogContent.astro
  src/components/pages/blog/BlogHeader.astro
Due: lint, lint-css, format

Update translation files (#130)
  src/content/moneropedia/ar/fcmp++.md
Due: format

Translated using Weblate (Arabic) (#131)
  src/content/moneropedia/ar/fcmp++.md
Due: format

Translated using Weblate (Arabic) (#132)
  src/i18n/translations/ar/mining.json
Due: format

Update README to remove unnecessary sections
  README.md
Due: format

increase categorycard specificity
  src/components/ui/CategoryCard.astro
Due: lint, lint-css, format

add bank-exit to merchants
  src/assets/images/directories/bankExitCollective.png
  src/components/ui/Card.astro
  src/data/get-started/merchants.ts
  src/i18n/translations/en/merchants.json
Due: lint, lint-css, format

adjust ExternalResourceButton icon order and border
  src/components/ui/ExternalResourceButton.astro
Due: lint, lint-css, format

merchants: Add Haveno exchange with RetoSwap network
  _i18n/en.yml
  community/merchants/index.md
  img/merchants/haveno.png
Due: format

style updates
  package.json
  pnpm-lock.yaml
  src/components/pages/index/Hero.astro
  src/components/pages/resources/library/CheatsheetCard.astro
  src/components/ui/Card.astro
Due: lint, lint-css, format

simplify navitem & add explicit nesting prefix for compatbility (#136)
  src/components/pages/blog/BlogCard.astro
  src/components/pages/community/sponsorships/SponsorCard.astro
  src/components/pages/downloads/CommunityCard.astro
  src/components/pages/downloads/CoreCard.astro
  src/components/pages/get-started/contribute/DonationAddress.astro
  src/components/pages/get-started/contribute/FundFooter.astro
  src/components/pages/get-started/exchanges/ExchangeTable.astro
  src/components/pages/resources/press-kit/BrandAssetCard.astro
  src/components/pages/resources/press-kit/ContactCard.astro
  src/components/pages/resources/roadmap/StatusSection.astro
  src/components/ui/ExternalResourceButton.astro
  src/components/ui/disclaimer/DisclaimerNote.astro
  src/components/ui/header/LanguageDropdown.astro
  src/components/ui/header/NavDropdownLink.astro
  src/components/ui/header/NavItem.astro
  src/pages/blog/[...post].astro
  src/pages/get-started/what-is-monero.astro
Due: lint, lint-css, format

Added translation using Weblate (Dutch) (#133)
  src/i18n/translations/es/accept-monero.json
  src/i18n/translations/es/blog.json
  src/i18n/translations/es/common.json
  src/i18n/translations/es/contribute.json
  src/i18n/translations/es/downloads.json
  src/i18n/translations/es/exchanges.json
  src/i18n/translations/es/faq.json
  src/i18n/translations/es/hangouts.json
  src/i18n/translations/es/index.json
  src/i18n/translations/es/knowledge-base.json
  src/i18n/translations/es/legal.json
  src/i18n/translations/es/merchants.json
  src/i18n/translations/es/mining.json
  src/i18n/translations/es/press-kit.json
  src/i18n/translations/es/roadmap.json
  src/i18n/translations/es/sponsorships.json
  src/i18n/translations/es/tools.json
  src/i18n/translations/es/what-is-monero.json
  src/i18n/translations/es/workgroups.json
  src/i18n/translations/nl/accept-monero.json
  src/i18n/translations/nl/blog.json
  src/i18n/translations/nl/common.json
  src/i18n/translations/nl/contribute.json
  src/i18n/translations/nl/downloads.json
  src/i18n/translations/nl/exchanges.json
  src/i18n/translations/nl/faq.json
  src/i18n/translations/nl/hangouts.json
  src/i18n/translations/nl/index.json
  src/i18n/translations/nl/knowledge-base.json
  src/i18n/translations/nl/legal.json
  src/i18n/translations/nl/merchants.json
  src/i18n/translations/nl/mining.json
  src/i18n/translations/nl/press-kit.json
  src/i18n/translations/nl/roadmap.json
  src/i18n/translations/nl/sponsorships.json
  src/i18n/translations/nl/tools.json
  src/i18n/translations/nl/what-is-monero.json
  src/i18n/translations/nl/workgroups.json
Due: format

css selector fix
  src/components/ui/accordion/AccordionItem.astro
Due: lint, lint-css, format

specificity fix
  src/components/ui/layout/Grid.astro
Due: lint, lint-css, format

simplify grid
  src/components/ui/layout/Grid.astro
Due: lint, lint-css, format

remove deprecated variant prop
  src/components/ui/layout/PageContainer.astro
Due: lint, lint-css, format

update primary button background color for contrast
  src/components/ui/Button.astro
Due: lint, lint-css, format

redundant alt tag
  src/components/ui/ExternalResourceButton.astro
Due: lint, lint-css, format

css-tricks auto-filling grid
  src/components/ui/layout/Grid.astro
Due: lint, lint-css, format

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx,astro,mjs}
  lint-css: any of: *.{css,astro}
  format: any of: *.{js,ts,jsx,tsx,astro,json,md,css}
  moneropedia-translations: any of: src/content/moneropedia/en/*.md
