Repository monero-project/monero-site: changes, and which lefthook commands are due for each by the changed paths.
All: lint, lint-css, format

lint:
  run: npx eslint --fix {staged_files}
  stage_fixed: true

lint-css:
  run: npx stylelint {staged_files}
  stage_fixed: true

format:
  run: npx prettier --write {staged_files}
  stage_fixed: true

New release CLI v0.18.4.6 & GUI v0.18.4.7
  downloads/hashes.txt
Due: none

blog: add cli v0.18.4.6 and gui v0.18.4.7 release notes
  src/content/blog/2026-01-07-monero-0.18.4.5-released.md
  src/content/blog/2026-01-07-monero-GUI-0.18.4.5-released.md
  src/content/blog/2026-03-04-monero-0.18.4.6-released.md
  src/content/blog/2026-03-04-monero-GUI-0.18.4.7-released.md
Due: format

Translated using Weblate (Dutch)
  src/i18n/translations/nl/common.json
Due: format

roadmap: add jamtis, move RandomX v2 to history
  src/data/resources/roadmap.ts
  src/i18n/translations/en/roadmap.json
Due: lint, format

Deprecating Monero's Unlock Time feature
  _posts/2026-04-24-deprecating-unlock-time.md
Due: format

docs: add beta preview link to README
  README.md
Due: format

migrate to astro v6
  astro.config.mjs
  package.json
  pnpm-lock.yaml
  src/components/ui/ExternalResourceButton.astro
  src/content.config.ts
  src/layouts/Layout.astro
Due: lint, lint-css, format

roadmap: add CARROT to in progress items
  src/data/resources/roadmap.ts
  src/i18n/translations/en/roadmap.json
Due: lint, format

roadmap: use multi-line for history entries
  src/data/resources/roadmap.ts
Due: lint, format

header: show commit hash on preview deployments
  src/components/ui/header/Header.astro
Due: lint, lint-css, format

deprecated_url -> deprecated_url_docs
  _layouts/moneropedia.html
  _layouts/user-guide.html
  resources/developer-guides/daemon-rpc.md
  resources/developer-guides/wallet-rpc.md
  resources/moneropedia/mnemonicseed.md
  resources/user-guides/node-i2p-zero.md
  resources/user-guides/vps_run_node.md
Due: format

_layouts moneropedia/user-guide: add a generic deprecated warning
  _layouts/moneropedia.html
  _layouts/user-guide.html
Due: none

moneropedia: deprecate unlocktime
  resources/moneropedia/unlocktime.md
Due: format

ui/components: add PreviewBanner with commit hash for coolify
  src/components/ui/PreviewBanner.astro
  src/layouts/Layout.astro
Due: lint, lint-css, format

move var split after the return
  src/components/ui/PreviewBanner.astro
Due: lint, lint-css, format

components/ui/dropdown/DropDown.astro: add name prop. to group dropdowns
  src/components/pages/downloads/CoreCard.astro
  src/components/ui/dropdown/Dropdown.astro
  src/pages/downloads/index.astro
Due: lint, lint-css, format

blog: add missing comma in release notes
  _posts/2024-03-09-monero-0.18.3.2-released.md
  _posts/2024-03-13-monero-0.18.3.3-released.md
  _posts/2024-08-20-monero-0.18.3.4-released.md
  _posts/2025-04-05-monero-0.18.4.0-released.md
  _posts/2025-07-25-monero-0.18.4.1-released.md
  _posts/2025-08-26-monero-0.18.4.2-released.md
  _posts/2025-10-08-monero-0.18.4.3-released.md
  _posts/2025-11-14-monero-0.18.4.4-released.md
  _posts/2026-01-11-monero-0.18.4.5-released.md
  _posts/2026-03-04-monero-0.18.4.6-released.md
Due: format

blog: add v0.18.5.0 release notes
  _posts/2026-05-06-monero-0.18.5.0-released.md
  _posts/2026-05-06-monero-GUI-0.18.5.0-released.md
Due: format

merchants: add ghostswap.io to swappers
  community/merchants/index.md
Due: format

comp./ui/accordion/Accordion.astro: id from item titles instead of randomUUID
  src/components/ui/accordion/Accordion.astro
Due: lint, lint-css, format

comp./ui/tabs/SectionTabs.astro: use tabs for uid instead of randomUUID
  src/components/ui/tabs/SectionTabs.astro
Due: lint, lint-css, format

comp./ui/header/NavItem.astro: label for id instead of Math.random()
  src/components/ui/header/NavItem.astro
Due: lint, lint-css, format

comp./ui/tabs/PageTabs.astro: id required instead of randomUUID fallback
  src/components/ui/tabs/PageTabs.astro
  src/pages/blog/[...page].astro
  src/pages/blog/tags/[tag]/[...page].astro
  src/pages/downloads/community.astro
  src/pages/downloads/index.astro
Due: lint, lint-css, format

pages/blog/tags/index.astro: sort posts before extracting tags for deterministic order
  src/pages/blog/tags/index.astro
Due: lint, lint-css, format

pages/feed.xml.js: sort posts by date descending
  src/pages/feed.xml.js
Due: lint, format

blog: update deprecating unlock time May 10th
  _posts/2026-05-10-deprecating-unlock-time.md
Due: format

_layouts moneropedia/user-guide: add a generic deprecated warning
  _layouts/moneropedia.html
  _layouts/user-guide.html
  resources/developer-guides/daemon-rpc.md
  resources/developer-guides/wallet-rpc.md
  resources/moneropedia/mnemonicseed.md
  resources/moneropedia/unlocktime.md
  resources/user-guides/node-i2p-zero.md
  resources/user-guides/vps_run_node.md
Due: format

Update hashes for v0.18.5.0
  _data/downloads.yml
  downloads/hashes.txt
Due: none

blog: unlock time typo
  _posts/2026-05-10-deprecating-unlock-time.md
Due: format

blog: Deprecating Monero's Unlock Time feature
  src/content/blog/2026-05-10-deprecating-unlock-time.md
Due: format

roadmap: add 2026 and update
  _i18n/en.yml
  resources/roadmap/index.md
Due: format

blog: add v0.18.5.0 release notes
  src/content/blog/2026-05-11-monero-0.18.5.0-released.md
  src/content/blog/2026-05-11-monero-GUI-0.18.5.0-released.md
Due: format

Bump date of release blog post to today
  _posts/2026-05-11-monero-0.18.5.0-released.md
Due: format

Bump date of GUI release blog post to today
  _posts/2026-05-11-monero-GUI-0.18.5.0-released.md
Due: format

Update hashes for v0.18.5.0
  downloads/hashes.txt
Due: none

18.5 hashes sig
  downloads/hashes.txt.sig
Due: none

ci: confirm dist archive is reproducible
  .github/workflows/ci.yml
Due: none

linting
  .github/workflows/ci.yml
Due: none

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx,astro,mjs}
  lint-css: any of: *.{css,astro}
  format: any of: *.{js,ts,jsx,tsx,astro,json,md,css}
