Repository monero-project/monero-site: changes, and which lefthook commands are due for each by the changed paths.
All: lint, lint-css, format

lint:
  run: npx eslint --fix {staged_files}
  stage_fixed: true

lint-css:
  run: npx stylelint {staged_files}
  stage_fixed: true

format:
  run: npx prettier --write {staged_files}
  stage_fixed: true

blog: add v0.18.5.2 gui release notes
  _posts/2026-07-17-monero-GUI-0.18.5.2-released.md
Due: format

New release GUI v0.18.5.2
  _data/downloads.yml
  downloads/hashes.txt
Due: none

Rename 2026-07-17-monero-GUI-0.18.5.2-released.md to 2026-07-21-monero-GUI-0.18.5.2-released.md
  _posts/2026-07-21-monero-GUI-0.18.5.2-released.md
Due: format

Update 2026-07-21-monero-GUI-0.18.5.2-released.md
  _posts/2026-07-21-monero-GUI-0.18.5.2-released.md
Due: format

styles: clear the sticky header from every anchor target
  src/components/ui/header/Header.astro
  src/components/ui/layout/PageSection.astro
  src/pages/downloads/community.astro
  src/pages/downloads/index.astro
  src/pages/index.astro
  src/pages/resources/moneropedia/index.astro
  src/styles/global.css
Due: lint, lint-css, format

index: give the hero the whole first screen
  src/pages/index.astro
Due: lint, lint-css, format

layouts: apply the page top margin once
  src/layouts/Layout.astro
  src/pages/404.astro
Due: lint, lint-css, format

config: typecheck against astro's strictest preset
  astro.config.mjs
  src/components/pages/blog/BlogCard.astro
  src/components/pages/blog/BlogHeader.astro
  src/components/pages/community/sponsorships/SponsorCard.astro
  src/components/pages/downloads/CommunityCard.astro
  src/components/pages/downloads/CoreCard.astro
  src/components/pages/resources/research-lab/PaperCard.astro
  src/components/ui/Button.astro
  src/components/ui/ExternalResourceButton.astro
  src/components/ui/Paginator.astro
  src/components/ui/accordion/AccordionItem.astro
  src/components/ui/dropdown/Dropdown.astro
  src/components/ui/header/NavItem.astro
  src/components/ui/icons/MaskIcon.astro
  src/data/navigation.ts
  src/layouts/Layout.astro
  src/pages/resources/press-kit.astro
  src/plugins/remark-moneropedia/index.ts
  src/utils/blog.ts
  src/utils/icons.ts
  tsconfig.json
Due: lint, lint-css, format

downloads: fix broken Trezor usage instructions link
  downloads/index.md
Due: format

user-guides: note payment proofs do not imply spendable funds
  _i18n/en/resources/user-guides/prove-payment.md
Due: format

Add dotnet resources
  _i18n/en.yml
  resources/developer-guides/index.md
Due: format

merchants: add EIDEX to Swappers list
  community/merchants/index.md
Due: format

downloads: add Monero Wallet web wallet
  downloads/index.md
Due: format

Fixed a dead URL to a Monero RandomX article
  _i18n/ar/resources/moneropedia/randomx.md
  _i18n/ar/resources/moneropedia/weblate/randomx.po
  _i18n/de/resources/moneropedia/randomx.md
  _i18n/de/resources/moneropedia/weblate/randomx.po
  _i18n/en/resources/moneropedia/randomx.md
  _i18n/en/resources/moneropedia/weblate/randomx.pot
  _i18n/es/resources/moneropedia/randomx.md
  _i18n/es/resources/moneropedia/weblate/randomx.po
  _i18n/fr/resources/moneropedia/randomx.md
  _i18n/fr/resources/moneropedia/weblate/randomx.po
  _i18n/it/resources/moneropedia/randomx.md
  _i18n/it/resources/moneropedia/weblate/randomx.po
  _i18n/nb-no/resources/moneropedia/randomx.md
  _i18n/nb-no/resources/moneropedia/weblate/randomx.po
  _i18n/nl/resources/moneropedia/randomx.md
  _i18n/nl/resources/moneropedia/weblate/randomx.po
  _i18n/pl/resources/moneropedia/randomx.md
  _i18n/pl/resources/moneropedia/weblate/randomx.po
  _i18n/pt-br/resources/moneropedia/randomx.md
  _i18n/pt-br/resources/moneropedia/weblate/randomx.po
  _i18n/ru/resources/moneropedia/randomx.md
  _i18n/ru/resources/moneropedia/weblate/randomx.po
  _i18n/tr/resources/moneropedia/randomx.md
  _i18n/tr/resources/moneropedia/weblate/randomx.po
  _i18n/zh-cn/resources/moneropedia/randomx.md
  _i18n/zh-cn/resources/moneropedia/weblate/randomx.po
  _i18n/zh-tw/resources/moneropedia/randomx.md
  _i18n/zh-tw/resources/moneropedia/weblate/randomx.po
  _posts/2021-04-24-this-year-in-monero.md
Due: format

docs: add Monero Bounties to contributing page
  get-started/contributing/index.md
Due: format

docs: fix Monero Bounties button layout
  get-started/contributing/index.md
Due: format

upgrade to astro 7
  .htmlhintrc
  astro.config.mjs
  docs/how-to-link-to-moneropedia-terms.md
  docs/understanding-the-project-structure.md
  package.json
  pnpm-lock.yaml
  src/components/pages/get-started/accept-monero/GuideStep.astro
  src/components/ui/ExternalResourceButton.astro
  src/content.config.ts
  src/content/blog/2020-07-31-clsag-audit.md
  src/content/blog/assets/clsag/clsag.avif
  src/content/blog/assets/clsag/clsag.svg
  src/layouts/Layout.astro
  src/pages/downloads/community.astro
  src/pages/open-graph/[...route].ts
  src/pages/resources/moneropedia/[...slug].astro
  src/plugins/remark-moneropedia/README.md
  src/plugins/remark-moneropedia/index.ts
  src/plugins/satteri-moneropedia/README.md
  src/plugins/satteri-moneropedia/index.ts
  src/utils/links.ts
  src/utils/moneropedia.ts
Due: lint, lint-css, format

pnpm: require packages to be at least 14 days old
  pnpm-workspace.yaml
Due: none

pnpm: block exotic transitive dependencies
  pnpm-workspace.yaml
Due: none

pnpm: reject trust downgrades
  pnpm-workspace.yaml
Due: none

pnpm: override chokidar to v5
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

blog: v0.18.5.1 release notes
  src/content/blog/2026-07-08-monero-0.18.5.1-released.md
  src/content/blog/2026-07-08-monero-GUI-0.18.5.1-released.md
Due: format

blog: add v0.18.5.2 gui release notes
  src/content/blog/2026-07-21-monero-GUI-0.18.5.2-released.md
Due: format

blog: v0.18.5.3 release notes
  _posts/2026-10-05-monero-0.18.5.3-released.md
  _posts/2026-10-05-monero-GUI-0.18.5.3-released.md
Due: format

add skylight wallet
  src/assets/images/wallets/skylight.avif
  src/data/downloads/community.ts
  src/i18n/translations/en/downloads.json
  src/pages/downloads/community.astro
Due: lint, lint-css, format

New release CLI & GUI v0.18.5.3
  _data/downloads.yml
  downloads/hashes.txt
Due: none

Rename 2026-10-05-monero-0.18.5.3-released.md to 2026-10-06-monero-0.18.5.3-released.md
  _posts/2026-10-06-monero-0.18.5.3-released.md
Due: format

Rename 2026-10-05-monero-GUI-0.18.5.3-released.md to 2026-10-06-monero-GUI-0.18.5.3-released.md
  _posts/2026-10-06-monero-GUI-0.18.5.3-released.md
Due: format

New release CLI & GUI v0.18.5.3
  downloads/hashes.txt
Due: none

blog: fix cli release notes link
  _posts/2026-10-06-monero-GUI-0.18.5.3-released.md
Due: format

blog: v0.18.5.3 release notes
  src/content/blog/2026-10-06-monero-0.18.5.3-released.md
  src/content/blog/2026-10-06-monero-GUI-0.18.5.3-released.md
Due: format

hashes for 18.5.3
  downloads/hashes.txt.sig
Due: none

docs: add ZMQ pub/sub guide
  resources/developer-guides/daemon-rpc.md
Due: format

Update index.md
  community/merchants/index.md
Due: format

merchants: add Crypto-Train to Swappers
  community/merchants/index.md
Due: format

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx,astro,mjs}
  lint-css: any of: *.{css,astro}
  format: any of: *.{js,ts,jsx,tsx,astro,json,md,css}
