Repository monero-project/monero-site: changes, and which lefthook commands are due for each by the changed paths.
All: lint, lint-css, format

lint:
  run: npx eslint --fix {staged_files}
  stage_fixed: true

lint-css:
  run: npx stylelint {staged_files}
  stage_fixed: true

format:
  run: npx prettier --write {staged_files}
  stage_fixed: true

bump magnet links to v0.18.4.5
  .github/workflows/hashes.yaml
  _data/downloads.yml
Due: none

ci: assume torrent release v is always == cli
  .github/workflows/hashes.yaml
Due: none

_data/downloads: quote magnet links
  _data/downloads.yml
Due: none

typo in downloads index
  downloads/index.md
Due: format

update torrents
  _data/downloads.yml
Due: none

ci: build/download torrent + confirm hashes
  .github/workflows/hashes.yaml
Due: none

CI: confirm webseed urls/versioned hashes on cdn
  .github/workflows/hashes.yaml
Due: none

downloads/_data/css/i18n: add gui/cli magnet links
  _data/downloads.yml
  _i18n/en.yml
  css/custom.css
  downloads/index.md
  img/download.avif
  img/magnet.avif
Due: lint-css, format

downloads.yml/ci: bump torrent versions
  .github/workflows/hashes.yaml
  _data/downloads.yml
Due: none

checkout latest monero-torrent repo
  .github/workflows/hashes.yaml
Due: none

bump magnet links to v0.18.5.0
  .github/workflows/hashes.yaml
  _data/downloads.yml
Due: none

moneropedia: append .html to unlocktime deprecated url
  resources/moneropedia/unlocktime.md
Due: format

cleanup: small grammatical improvements
  src/i18n/translations/en/accept-monero.json
  src/i18n/translations/en/faq.json
  src/i18n/translations/en/knowledge-base.json
  src/i18n/translations/en/what-is-monero.json
Due: format

use sha256 helper for deterministic ids
  src/components/ui/accordion/Accordion.astro
  src/components/ui/header/NavItem.astro
  src/components/ui/tabs/SectionTabs.astro
  src/utils/stableId.ts
Due: lint, lint-css, format

update beta landing image
  src/assets/images/landing.avif
Due: none

upgrade to pnpm 11
  Dockerfile
  docs/how-to-set-up-the-development-environment.md
  package.json
  pnpm-workspace.yaml
Due: format

convert .svg to .avif to be compliant with v6 defaults
  src/content/blog/2020-07-31-clsag-audit.md
  src/content/blog/assets/clsag/clsag.avif
  src/content/blog/assets/clsag/clsag.svg
Due: format

migrate to astro v6
  astro.config.mjs
  package.json
  pnpm-lock.yaml
  src/components/ui/ExternalResourceButton.astro
  src/content.config.ts
  src/layouts/Layout.astro
Due: lint, lint-css, format

Added translation using Weblate (Indonesian)
  src/i18n/translations/fa/accept-monero.json
  src/i18n/translations/fa/blog.json
  src/i18n/translations/fa/common.json
  src/i18n/translations/fa/contribute.json
  src/i18n/translations/fa/downloads.json
  src/i18n/translations/fa/exchanges.json
  src/i18n/translations/fa/faq.json
  src/i18n/translations/fa/hangouts.json
  src/i18n/translations/fa/index.json
  src/i18n/translations/fa/knowledge-base.json
  src/i18n/translations/fa/legal.json
  src/i18n/translations/fa/merchants.json
  src/i18n/translations/fa/mining.json
  src/i18n/translations/fa/press-kit.json
  src/i18n/translations/fa/roadmap.json
  src/i18n/translations/fa/sponsorships.json
  src/i18n/translations/fa/tools.json
  src/i18n/translations/fa/what-is-monero.json
  src/i18n/translations/fa/workgroups.json
  src/i18n/translations/id/accept-monero.json
  src/i18n/translations/id/blog.json
  src/i18n/translations/id/common.json
  src/i18n/translations/id/contribute.json
  src/i18n/translations/id/downloads.json
  src/i18n/translations/id/exchanges.json
  src/i18n/translations/id/faq.json
  src/i18n/translations/id/hangouts.json
  src/i18n/translations/id/index.json
  src/i18n/translations/id/knowledge-base.json
  src/i18n/translations/id/legal.json
  src/i18n/translations/id/merchants.json
  src/i18n/translations/id/mining.json
  src/i18n/translations/id/press-kit.json
  src/i18n/translations/id/roadmap.json
  src/i18n/translations/id/sponsorships.json
  src/i18n/translations/id/tools.json
  src/i18n/translations/id/what-is-monero.json
  src/i18n/translations/id/workgroups.json
  src/i18n/translations/nl/common.json
Due: format

i18n: complete zh-cn and zh-tw translations
  _i18n/zh-cn.yml
  _i18n/zh-tw.yml
Due: none

add zest exchange to merchants
  community/merchants/index.md
Due: format

add override for astro-i18n-aut
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format

cleaner library page design
  src/components/pages/resources/library/CheatsheetCard.astro
  src/components/ui/ExternalResourceButton.astro
  src/components/ui/HeroCard.astro
  src/components/ui/tabs/SectionTabs.astro
  src/data/resources/library.ts
  src/i18n/translations/en/knowledge-base.json
  src/pages/resources/library.astro
  src/pages/resources/research-lab.astro
Due: lint, lint-css, format

cleaner research-lab page design
  src/components/pages/community/workgroups/WorkgroupCard.astro
  src/components/pages/get-started/contribute/DonationAddress.astro
  src/components/pages/get-started/exchanges/ExchangeTable.astro
  src/components/pages/get-started/exchanges/FilterOption.astro
  src/components/pages/resources/research-lab/PaperCard.astro
  src/components/ui/accordion/AccordionItem.astro
  src/data/resources/research-lab.ts
  src/i18n/translations/en/knowledge-base.json
  src/pages/get-started/exchanges.astro
  src/pages/resources/research-lab.astro
  src/styles/global.css
Due: lint, lint-css, format

sidebar design consistency
  src/components/pages/resources/library/BookCard.astro
  src/components/ui/ExternalResourceButton.astro
  src/components/ui/sidebar/SidebarCard.astro
  src/components/ui/sidebar/SidebarLink.astro
  src/i18n/translations/en/contribute.json
  src/pages/get-started/contribute/develop.astro
Due: lint, lint-css, format

centralize overflow in Card
  src/components/pages/resources/library/BookCard.astro
  src/components/ui/Card.astro
  src/components/ui/CategoryCard.astro
  src/pages/get-started/accept-monero.astro
Due: lint, lint-css, format

add overflow prop on Card
  src/components/pages/downloads/CoreCard.astro
  src/components/ui/Card.astro
Due: lint, lint-css, format

swap whitepapers and others places
  src/pages/resources/research-lab.astro
Due: lint, lint-css, format

roadmap: add Bulletproofs* to roadmap
  src/data/resources/roadmap.ts
  src/i18n/translations/en/roadmap.json
Due: lint, format

styles: fix external link wrap
  src/styles/external-links.css
Due: lint-css, format

blog: v0.18.5.1 release notes
  _posts/2026-06-05-monero-0.18.5.1-released.md
  _posts/2026-06-05-monero-GUI-0.18.5.1-released.md
Due: format

New release CLI v0.18.5.1 & GUI v0.18.5.1
  _data/downloads.yml
  downloads/hashes.txt
Due: none

Rename 2026-06-05-monero-0.18.5.1-released.md to 2026-07-08-monero-0.18.5.1-released.md
  _posts/2026-07-08-monero-0.18.5.1-released.md
Due: format

Rename 2026-06-05-monero-GUI-0.18.5.1-released.md to 2026-07-08-monero-GUI-0.18.5.1-released.md
  _posts/2026-07-08-monero-GUI-0.18.5.1-released.md
Due: format

bump magnet links to v0.18.5.1
  .github/workflows/hashes.yaml
  _data/downloads.yml
Due: none

New release CLI v0.18.5.1 & GUI v0.18.5.1
  downloads/hashes.txt
Due: none

blog: update link for cli v0.18.5.1 post
  _posts/2026-07-08-monero-GUI-0.18.5.1-released.md
Due: format

Add El Capo to Swappers list
  community/merchants/index.md
Due: format

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx,astro,mjs}
  lint-css: any of: *.{css,astro}
  format: any of: *.{js,ts,jsx,tsx,astro,json,md,css}
