Repository monero-project/monero-site: changes, and which lefthook commands are due for each by the changed paths.
All: lint, lint-css, format

lint:
  run: npx eslint --fix {staged_files}
  stage_fixed: true

lint-css:
  run: npx stylelint {staged_files}
  stage_fixed: true

format:
  run: npx prettier --write {staged_files}
  stage_fixed: true

style tweaks
  src/components/pages/get-started/accept-monero/GuideStep.astro
  src/components/pages/get-started/exchanges/MobileFilterBar.astro
  src/components/ui/accordion/AccordionItem.astro
  src/pages/blog/[...page].astro
  src/pages/get-started/accept-monero.astro
Due: lint, lint-css, format

documentation updates (#139)
  docs/how-to-add-a-new-download-item.md
  docs/how-to-add-a-question-to-the-faq-page.md
  docs/how-to-add-localization-to-a-page.md
  docs/how-to-configure-a-new-language.md
  docs/how-to-create-a-new-component.md
  docs/how-to-handle-assets-and-images.md
  docs/how-to-link-to-moneropedia-terms.md
  docs/how-to-make-a-moneropedia-entry.md
  docs/how-to-make-a-new-page.md
  docs/how-to-style-your-page-contents.md
  docs/how-to-use-and-create-icons.md
  docs/how-to-use-the-ui-library.md
  docs/understanding-the-project-structure.md
Due: format

css changes
  src/components/ui/ContentCard.astro
  src/styles/global.css
Due: lint, lint-css, format

update mining images (#140)
  src/assets/images/gui.avif
  src/assets/images/gupax-window.avif
  src/assets/images/gupax-window.webp
  src/components/pages/downloads/CoreCard.astro
  src/pages/get-started/mining.astro
Due: lint, lint-css, format

Add BSD 3-Clause License
  LICENSE
Due: none

Add General Fund Transparency Report - February 2025
  Gemfile.lock
  _plugins/sitemap_generator.rb
  _posts/2026-02-12-monero-general-fund-transparency-report-february-2025.md
Due: format

Add XMR to USDC to swappers list
  community/merchants/index.md
Due: format

Update Swappers
  community/merchants/index.md
Due: format

Add General Fund Transparency Report - February 2025
  _posts/2026-02-12-monero-general-fund-transparency-report-february-2025.md
Due: format

checkout latest monero-torrent repo
  .github/workflows/hashes.yaml
Due: none

downloads/_data/css/i18n: add gui/cli magnet links
  _data/downloads.yml
  _i18n/en.yml
  css/custom.css
  downloads/index.md
  img/download.avif
  img/magnet.avif
Due: lint-css, format

CI: confirm webseed urls/versioned hashes on cdn
  .github/workflows/hashes.yaml
Due: none

update torrents
  _data/downloads.yml
Due: none

_data/downloads: quote magnet links
  _data/downloads.yml
Due: none

ci: build/download torrent + confirm hashes
  .github/workflows/hashes.yaml
Due: none

typo in downloads index
  downloads/index.md
Due: format

bump magnet links to v0.18.4.5
  .github/workflows/hashes.yaml
  _data/downloads.yml
Due: none

add build args for faster preview deployments
  Caddyfile
  Dockerfile
  README.md
  astro.config.mjs
  src/pages/blog/[...page].astro
Due: lint, lint-css, format

change index CTA to link to main downloads page
  src/pages/index.astro
Due: lint, lint-css, format

add placeholders
  src/assets/images/contribute/develop.avif
  src/assets/images/contribute/donate.avif
  src/assets/images/contribute/network.avif
  src/assets/images/knowledge-base/library.avif
  src/assets/images/knowledge-base/moneropedia.avif
  src/assets/images/knowledge-base/research-lab.avif
  src/assets/images/tools/accept.avif
  src/assets/images/tools/develop.avif
  src/assets/images/tools/explore.avif
  src/pages/get-started/contribute/index.astro
  src/pages/resources/index.astro
  src/pages/resources/knowledge-base.astro
  src/pages/resources/tools/index.astro
Due: lint, lint-css, format

uniform padding in SideBarCard
  src/components/ui/sidebar/SidebarCard.astro
Due: lint, lint-css, format

blog: add v0.18.4.6 release notes
  _posts/2026-02-25-monero-0.18.4.6-released.md
  _posts/2026-02-25-monero-GUI-0.18.4.6-released.md
Due: format

ci: change ci to run on beta branch [beta]
  .github/workflows/ci.yml
Due: none

ci: remove branch filter from download-hashes
  .github/workflows/download-hashes.yml
Due: none

downloads: update Monero.com logo with new one
  src/assets/images/wallets/monerocom.avif
Due: none

blog: add cli v0.18.4.6 and gui v0.18.4.7 release notes
  _posts/2026-03-04-monero-0.18.4.6-released.md
  _posts/2026-03-04-monero-GUI-0.18.4.7-released.md
Due: format

New release CLI v0.18.4.6 & GUI v0.18.4.7
  _data/downloads.yml
  downloads/hashes.txt
Due: none

fix typo: singer -> signer
  _i18n/en/resources/user-guides/multisig-messaging-system.md
Due: format

downloads.yml/ci: bump torrent versions
  .github/workflows/hashes.yaml
  _data/downloads.yml
Due: none

ci: assume torrent release v is always == cli
  .github/workflows/hashes.yaml
Due: none

ci: bump checkout action to v6
  .github/workflows/auto-updater.yaml
  .github/workflows/ci.yml
  .github/workflows/hashes.yaml
Due: none

add themeable image component
  src/components/ui/ThemeableImage.astro
Due: lint, lint-css, format

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx,astro,mjs}
  lint-css: any of: *.{css,astro}
  format: any of: *.{js,ts,jsx,tsx,astro,json,md,css}
